/*This styles is for the woo commerce*/

.woocommerce .woocommerce-message:before, 
.woocommerce .woocommerce-error:before, 
.woocommerce .woocommerce-info:before, 
.woocommerce-page .woocommerce-message:before, 
.woocommerce-page .woocommerce-error:before, 
.woocommerce-page .woocommerce-info:before
{
	box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
}
table {
    border-collapse: collapse !important;
}
.woocommerce .cart-collaterals .cart_totals table td, 
.woocommerce-page .cart-collaterals .cart_totals table td{
	padding: 10px;
}
.woocommerce .cart-collaterals .cart_totals tr td, 
.woocommerce .cart-collaterals .cart_totals tr th, 
.woocommerce-page .cart-collaterals .cart_totals tr td, 
.woocommerce-page .cart-collaterals .cart_totals tr th{
	 border: 1px solid #ccc !important;
	 padding: 10px
}
.woocommerce #content div.product div.thumbnails a, 
.woocommerce div.product div.thumbnails a, 
.woocommerce-page #content div.product div.thumbnails a, 
.woocommerce-page div.product div.thumbnails a{
	margin-bottom: 10px;
}
/*
     FILE ARCHIVED ON 20:32:02 Apr 24, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:57:08 Feb 12, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.476
  exclusion.robots: 0.016
  exclusion.robots.policy: 0.008
  esindex: 0.008
  cdx.remote: 183.999
  LoadShardBlock: 217.22 (3)
  PetaboxLoader3.datanode: 187.395 (4)
  load_resource: 315.886
  PetaboxLoader3.resolve: 70.904
*/